cat <<EOF > ~/.config/wlogout/style.css
window {
    background-color: rgba(0, 0, 0, 0.9);
}

button {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 80px;
    
    /* Quadrado Perfeito e Fixo */
    min-width: 170px;
    max-width: 170px;
    min-height: 170px;
    max-height: 170px;
    
    margin: 15px;
    border-radius: 0px;
    border: 2px solid #262626;
    
    background-image: none;
    box-shadow: none;
    outline: none;
}

button:hover {
    background-color: #262626;
    border-color: #ffffff;
    color: #ffffff;
}

/* CENTRALIZAÇÃO: Empurra o ícone para baixo para o meio real */
button label {
    margin-top: 15px; 
}
EOF